/*********************
GENERAL STYLES
*********************/

body{
background-color: #2980b9;

}

mark{
  background-color:transparent;
  color:white;
  font-weight: 600;
}


.illustration{
  max-width:20%;
  margin: 15rem auto 1rem auto;
}

.button{
	width:100%;
	height:100%;
	margin-bottom:0;
}

.wrapper{
	margin:2 auto 0 auto;
}

.maininfo{
	text-align: center;
	display: block;
  margin : 0 auto;
}

.maininfo h1{
	font-size: 2rem;
	font-weight: 300;
	color:#ecf0f1;
}

.searchbar{
	width:25rem;
	margin-top: 1rem;
}


.searchbox{
	width:100%;
	height:2.8rem;
}


.fa{
	color:white;
}

/*********************
LOGO STYLES
*********************/

.logo{
	max-width: 20%;
	margin:2rem auto;
}

.logo img{
	height:4rem;
}

.logo a{
	display: inline-block;
}

/*********************
INFO BUTTON STYLES
*********************/

.info{
  position: fixed;
  z-index: 999999;
  right: 1.3rem;
  bottom: 1.3rem;
  display: block;
}

.info:hover{
  color:#bdc3c7;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #2980b9;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2rem;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color:#2980b9;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.content{
	max-width: 95%;
}

/*********************
SLIDER STYLES
*********************/

button.ui-btn.ui-shadow.ui-corner-all{
  background-color:#2980b9;
  border-color:transparent;
  text-shadow:none;
  color:white;
  width:50%;
  border-radius: 0;
}

.ui-shadow{
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

#slider-details{
position: fixed;
z-index: 999999;
left: 3rem;
bottom: 5rem;
}

#render-button{
  display:none;
  position: fixed;
  z-index: 999999;
  left: 3rem;
  bottom: 2rem;
  width:350px;
}

#render-button button{
  text-transform: uppercase;
}

#render-warn{
  color: black; 
  display: none;
  text-transform:uppercase;
  position: fixed;
  z-index: 999999;
  left: 3rem;
  bottom: 3rem;
  text-shadow:none;
}

#date_field{
  text-shadow:none;
}

.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset{
  height:2rem;
  text-shadow:none;
  border-style:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: none;
  -webkit-border-radius: 0;
  border-radius:0;
}