/*********************
GENERAL STYLES
*********************/

.searchbar a{
  color:#0288d1;
  padding-top:0.4rem;
}

.searchbar input[type="text"]:focus{
 border-bottom: 2px solid white;
}

.searchbar input[type="text"]{
  color:white;
}


#render-warn b{
  font-size: 1.3rem;
  font-weight:300;
}

button#init-button{
  font-size: 1.3rem;
  text-transform: lowercase;
}

#init-button{
  color:#0288d1;
}


#popup1{
  width: 45rem;
}

/*.modal-content{
  margin-left:5rem;
  margin-top: 3rem;
}*/

.modal-content h3{
  text-transform:uppercase;
  font-size: 1.7rem;
  font-weight: 600;
  color:#0288d1;
}

/*.modal-content p{
  width:90%;
}*/

#popup1{
  background-color:white;
}

body{
background-color:#0288d1;
}

mark{
  background-color:transparent;
  color:white;
  font-weight: 600;
}


.illustration{
  width:20%;
  margin: 200px auto 1rem auto;
}

.button{
	width:100%;
	height:100%;
	margin-bottom:0;
}

.wrapper{
	margin:2 auto 0 auto;
}

.maininfo{
	text-align: center;
	display: block;
  margin : 0 auto;
}

.maininfo h1{
	font-size: 2rem;
	font-weight: 300;
	color:#ecf0f1;
}

.searchbar{
	width:25rem;
	margin-top: 1rem;
}


.searchbox{
	width:100%;
	height:2.8rem;
}


.fa{
	color:white;
}

/*********************
LOGO STYLES
*********************/
.logo img{
	height:4rem;
  padding: 5px;
  margin-top:0.5rem;
}

.logo a{
	display: inline-block;
  margin-right:1rem;
}


/*********************
SLIDER STYLES
*********************/

#slider .noUi-background {
    /*background: #9e9e9e;*/
}
#slider .noUi-base {
  background: #0091ea;
}


#key{
  max-width:60%;
  margin: 2rem auto;
  text-align: center;
}

#key p{
  text-transform: uppercase;
  font-size:0.7rem;
  font-weight: 500;
}

#waterkey{
  margin-right: 3rem;
}

.keyicon{
  width:50%;
  height:auto;
}

.bluearea{
  height:102px;
  width: auto;
}